/*=====barra de tarefas=====*/
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-image: url(imagens_site/xadrez_laranja2.jpg);
}

#barra_de_tarefas{
    width: 100%;
    height: 100px;
    background-color:#008000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: -1px;
}

#logo{
    height: 95px;
    width: 160px;
    position: relative;
    top: 5px;
}

#login {
    width: 50px;
    height: 50px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px #FF8C00 solid ;
    border-radius: 40px;
}

#ferramentas{
    list-style-type: none;
    /*posição*/
    display: flex;
    flex-direction: row;
    position: relative;
    right:5%;
    top: 40px;
}

.fr{
    color: #DCDCDC;
    margin-right: 40%;
    font-family:  Arial;
}

.link_tarefas{ color: #DCDCDC; text-decoration: none;}

#acesso{
    position: relative;
    right: 10vh;
    /*estilo*/
    font-family: Arial;
    color:#DCDCDC ;
    list-style-type: none;
    top: 40px;
}

/*======corpo total======*/
#box-primary{
    
    width: 90vw;
    margin-top: 130px;
    padding: 20px 20px;
    position: relative;
    left: 3vw;
    
}

/*======imagens de recomendação=======*/
.recomend{
    background-color: #008000;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.recomend .caixa-text{
    background-color: #FF8C00;
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:0px 6%;
    position: absolute;
}

.recomend .imagem-caixa .img-box{
    width: 49.3vw;
    max-height: 45.4vh ;
    min-height: 450px ;
    position: absolute;
    left: 40.7vw;
}

#container .recomend .caixa-text h1{
    font-size: 35px;
    font-family: Arial ;
}

#container .recomend .caixa-text p{
    font-size: 26px;
    font-family: Arial ;
}

#container .recomend .caixa-text .btn{
    background-color: black;
    color: white;
    text-decoration: none;
    height: 20px;
    display: inline-block;
    padding: 9px 50px;
    font-size: 17px;
    font-family: Arial ;
    border-radius: 5px;
    border: 2px solid  white;
}

#container .recomend .caixa-text .btn:hover{
    background-color: rgb(43, 42, 42);
    color: white;
    border: 2px rgb(43, 42, 42) solid ;
}

.detalhe{
    position: relative;
    width: 0;
    height: 0;
    border-right: 20vh solid transparent;
    border-bottom: 450px solid #FF8C00;
    margin-left: 45.2%;
    z-index: 1;
    position: absolute;
}
#container .recomend{
    display: none;
}

#container .recomend.active{
    display: block;
}

/*------slide animation-------
#container{
    overflow: hidden;
}
#container .recomend{
    width: 100%;
    list-style-type: none;
}

#container #slide_ul{
    display: flex;
    width: 300%;
    animation: slider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes slider{
    25% {margin-left:#}
    45% {margin-left:0;}

    50% {margin-left:-100% ;}
    70% {margin-left:-100%;}

    75% {margin-left:-200%;}
    100% {margin-left:-200%;}
}

#container .recomend.active{
    display: block;
}*/

/*coloração das outras recomendações*/

#container #P2{
    background-color: #4169E1;
    color: white;
}

#container #p2{
    position: relative;
    width: 0;
    height: 0;
    border-right: 20vh solid transparent;
    border-bottom: 450px solid #4169E1;
    margin-left: 45.2%;
    z-index: 1;
    position: absolute;
}

#container #P3{
    background-color: #068f06;
}

#container #p3{
    position: relative;
    width: 0;
    height: 0;
    border-right: 20vh solid transparent;
    border-bottom: 450px solid #068f06;
    margin-left: 45.2%;
    z-index: 1;
    position: absolute;
}

/*-------Botão para passar as recomendações--------*/

#container #prev,
#container #next{
    position: absolute;
    transform: translateY(-20%);
    top: 14.8%;
    background-color: #008000;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: bolder;
    border-radius: 40px;
    cursor: pointer;
    color: white;
}

#container #prev:hover,
#container #next:hover{
    margin-top: 2px;
   background-color: #08aa08;
}

#container #prev{
    left: 20px;
}

#container #next{
    right: 20px;
}


/*=====outros=====*/
#box-primary .caixaoutros{
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#box-primary .caixaoutros{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.caixaoutros::-webkit-scrollbar{
    width: 10px;
}

.caixaoutros::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #008000;
    border-radius: 20px;
}

.link_outros .outros{
    background-color: #008000;
    min-width: 290px;
    height: 275px;
}

.outros:not(:first-child){
    margin-left: 40px;
}

.cabecalho_outros{
    width: 100%;
    margin-top: 120px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho_outros h1{
    background-color: #F0E68C;
    text-align: center;
    width: 300px;
    padding-top: 15px;
    border-top-right-radius: 20px;
}

.cabecalho_outros p{
    background-color: #F0E68C;
    text-align: center;
    width: 300px;
    padding-bottom: 15px;
    border-bottom-left-radius: 20px;
}

.caixaoutros .outros .img_outros{
    width: 290px;
    height: 250px;
    border-radius: 15px;

}

.caixaoutros .outros .text_outros{
    background-color: #F0E68C;
    width: 100%;
    text-align: center;
    font-family: Arial;
    position: relative;
    padding-top: 12px;
    padding-bottom: 10px;
    bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.caixaoutros .outros{
    border-radius: 20px;
    border: 5px #008000 solid;
}

#rodape{
    background-color: #008000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#rodape img{
    height: 45px;
}

#itens_rodape{
    width: 300px;
    padding: 20px;
    color: white;
    font-family: Arial;
}